* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 2.5rem;
    position: fixed;
    right: 0;
    left: 0;
    background-color: bisque;
    padding: 1rem;
}


main {
    background-color: rgb(248, 238, 226);
}

div {

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: calc(1rem + 124px);
}

article {
    width: calc((100% / 10) - 1rem);
    background-color: rgb(236, 139, 11);
    font-size: 5rem;
    color: rgb(0, 0, 0);
    border: 3px solid black;
    border-radius: 50%;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}



.fizz {
    background-image: url(https://png.pngtree.com/png-clipart/20230825/original/pngtree-fizz-comic-book-speech-explosion-bubble-vector-art-illustration-for-comic-lovers-picture-image_8735368.png);
    background-size: cover;
}

.buzz {
    background-image: url(https://img.freepik.com/free-vector/buzz-pop-art-comic-speech-bubbles-book-sound-effects_1142-9949.jpg);
    background-size: cover;
}

.fizzbuzz {
    background-image: url(https://fizzbuzz.billydelashmutt.com/img/FizzBuzz.svg);
    background-size: cover;
}